.bg-color{

    background-color: #fceae8;
}

.bg-bag{

    background-color:#da70d6;
}

.ctg-shoe{
    background-color: #0000ff;
}

.btn-colo{
    background-color: #ff4d94;
    color: white;
    border-radius: 5px;
    border:none;
}